<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Good News"></app-explore-container> -->

  <ion-list no-lines>
    <a ion-item 
    ion-item
    detail-none
    *ngFor="let news of data">
      <h3 >
        {{ news.name }}
      </h3>
    </a>

    <!-- <h4 *ngFor="let x of data">
      I am header {{x.name}}
    </h4> -->

  </ion-list>

  

</ion-content>
