<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ভালো খবর
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ভালো খবর</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list no-lines>
    <a ion-item 
    ion-item
    detail-none
    *ngFor="let news of data; index as i"    
    >
      <div>
        <h3 *ngIf="news.name"(click)="openBrowser(news.link)">{{news.name}}</h3>
      </div>      
    </a>
  </ion-list>
</ion-content>
